<style>
a:hover {transition: all 0.5s ease 0s;}

/* Services CSS */
.service:hover .service-icon::before{
  animation-duration:1s;
  animation-fill-mode:both;
  animation-name:pluse;
  -webkit-animation-fill-mode: both;  /* Chrome, Safari, Opera */
}

.service:hover .service-icon::after{
  opacity:1;
  transform:scale(1.15);
  transition:all 0.4s cubic-bezier(0,0.8,0.7,1.5) 0s;
}

.service:hover .service-icon {
  color: #fff !important;
}
.service-icon{
    border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: 170px;
  line-height: 200px;
  position: relative;
  text-align: center;
  width: 170px;
}
.service-icon::after {
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Web CSS */
.webIcon{color:#555555;}
.service-web .service-icon::after {border-color: #555555;}
.service-web:hover .service-icon {background: #555555 none repeat scroll 0 0;}

.web h1{color:#555555;font-weight: bold;}
.web h2{color:#555555;font-weight: bold;}
.web h3{color:#555555;font-weight: bold;}
.webFind{background-color:#555555;border:1px solid #555555;}
.webFind:hover{background-color:#555555;border:1px solid #555555;}
.webFind:active{background-color:#555555;border:1px solid #555555;}
.webFind:visited{background-color:#555555;border:1px solid #555555;}
.webFind:focus{background-color:#555555;border:1px solid #555555;}


</style>