<style>

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons > li {
    display: inline-block;
}

.social-icons > li > a {
    background: #f5f5f5;
    display: block;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    height: 32px;
    width: 32px;
    color: #777777;
}

.social-icons > li > a:hover,
.social-icons > li > a:focus {
    background: #555555;
    color: #ffffff;
}

/* --- [ Social Icons Size ] --- */

.social-icons-lg > li > a {
    line-height: 48px;
    font-size: 16px;
    height: 48px;
    width: 48px;
}

.social-icons-md > li > a {
    line-height: 40px;
    height: 40px;
    width: 40px;
}

/* --- [ Social Icons Mode ] --- */

.social-icons-round > li > a {
    border-radius: 2px;
}

.social-icons-circle > li > a {
    border-radius: 100%;
}

/* --- [ Social Icons Colored ] --- */

.social-icons-colored > li > a {
    color: #ffffff;
}

.social-icons-colored > li > a:hover,
.social-icons-colored > li > a:focus {
    opacity: 0.85;
}

/* --- [ Social Icons Simple ] --- */

.social-icons-simple > li > a {
    display: inline;
    background: none;
    margin: 0 10px 10px 0;
}

.social-icons-simple > li > a:hover,
.social-icons-simple > li > a:focus {
    background: none;
    color: inherit;
}


</style>